@import "styles/var.scss";

.ContactRef {
  .reference {
    display: flex;
    a {
      margin: 0 20px 0 0;
    }
  }

  .reference i {
    font-size: 1.4rem;
    color: $main-gray-color;

    &:hover {
      color: $teal;
    }
  }
}
