@import "styles/var.scss";

.AnimatedButton {
  margin: 20px 0;

  .chevron {
    color: $ivory;
    width: 8px;
    height: 8px;
    transform: rotate(-90deg);
    margin-right: 20px;
  }

  .background {
    background-color: #575757;
    width: fit-content;
    border-radius: 50px;
    display: flex;
    align-items: center;
  }

  .copy {
    padding: 10px 15px 10px 20px;
    margin: auto;
    font-size: 16px;
    color: $ivory;
    white-space: nowrap;
  }
}
