@import "styles/var.scss";

.AnimatedButton {
  margin: 20px 0;
  display: flex;

  .background {
    background-color: #575757;
    width: fit-content;
    border-radius: 50px;
    position: absolute;

    &:hover {
      .copy {
        color: $teal;
        font-weight: 500;
      }
    }
  }

  .container {
    display: flex;
  }

  .copy {
    padding: 10px 10px 10px 20px;
    margin: 0;
    font-size: 16px;
    color: $ivory;
    white-space: nowrap;
  }

  .chevronContainer {
    align-self: center;
    border-radius: 50px;
    width: 40px;
    height: 40px;
  }

  .chevron {
    display: flex;
    color: $ivory;
    width: 8px;
    height: 8px;
    transform: rotate(-90deg);
    top: 40%;
    left: 40%;
    position: relative;
  }
}
