@import "styles/var.scss";

.Home {
  margin: 30px 30px 10px;
  height: 100%;

  .divider {
    border: 1px solid #d4d4d4;
  }

  .projects {
    margin-bottom: 0px;
  }
}

.footer {
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}
