@import "styles/var.scss";

.Nav {
  padding: 15px 30px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: $ivory;
  border-bottom: 1px solid #e1e1de;

  .logo {
    line-height: 1.15;
    margin-right: 40px;
  }

  .logo > a {
    font-weight: 700;
  }

  .lastname {
    margin-left: 10px;
  }

  a {
    align-self: center;
    color: $main-gray-color;
    text-decoration: none;
    font-weight: 600;
    &:hover {
      color: $teal;
    }
  }

  .link {
    margin-right: 30px;
  }

  .container {
    position: absolute;
    left: 120px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .contact {
    position: absolute;
    right: 5%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .ask {
    background-color: $teal;
    padding: 0.6rem 1rem;
    border-radius: 50px;
    color: $ivory;
    font-size: 16px;
    margin-right: 1rem;

    &:hover {
      border: 2px solid $teal;
      background-color: $ivory;
      color: $teal;
    }

    @media screen and (max-width: 625px) {
      display: none;
    }
  }

  .resume {
    border: 2px solid $teal;
    padding: 0.6rem 1rem;
    border-radius: 50px;
    font-size: 16px;
    color: $teal;

    &:hover {
      background-color: $teal;
      color: $ivory;
    }

    @media screen and (max-width: 625px) {
      display: none;
    }
  }
}
